.rating-content {
  padding: 20px;
}

.star-icon > img {
  background-color: var(--dark-blue);
  padding: 12px;
  border-radius: 50%;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.247) 0px 4px 12px;
}

.info {
  font-size: 14px;
  margin: 10px 0px;
  color: var(--medium-grey);
  margin-bottom: 25px;
  line-height: 1.5;
}

.rating-list {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  margin-bottom: 25px;
}

.rating {
  background-color: var(--dark-blue);
  font-size: 15px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  color: var(--medium-grey);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  cursor: pointer;
}

.rating:hover {
  background-color: var(--medium-grey);
  color: var(--white);
}

.active {
  background-color: var(--primary-orange);
  color: var(--white);
}

.submit-btn {
  width: 100%;
  border-radius: 20px;
  border: none;
  padding: 12px 0px;
  font-weight: var(--fw-bold);
  color: var(--white);
  background-color: var(--primary-orange);
  font-size: 12px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  letter-spacing: 0.75px;
}

.submit-btn:hover {
  color: var(--primary-orange);
  background-color: var(--white);
}

@media only screen and (max-width: 350px) {
  .rating {
    width: 40px;
    height: 40px;
  }
}
